<div class="container">
  <div class="box">
    <h1 class="welcomeHeader">Welcome to my Flix!</h1>
    <div class="button-seperate">
      <button
        mat-raised-button
        color="accent"
        class="buttonStyling"
        (click)="openUserRegistrationDialog()"
      >
        Sign Up
      </button>
      <button
        mat-raised-button
        color="accent"
        class="buttonStyling"
        (click)="openUserLoginDialog()"
      >
        Log in
      </button>
    </div>
  </div>
</div>
