<div class="cardContainer">
  <mat-card *ngFor="let movie of movies" style="flex: 1" class="cardBox">
    <img src="{{ movie.imagePath }}" alt="{{ movie.title }}" class="cardImg" />
    <mat-card-actions class="cardActions">
      <button mat-button color="primary">Genre</button>
      <button mat-button color="primary" (click)="directorDialog(movie)">
        Director
      </button>
      <button mat-button color="primary" (click)="movieDialog(movie)">
        Movie
      </button>
      <a class="add-to-favorite-btn" (click)="toggleFavorite(movie._id)">
        <mat-icon> favorite </mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
