<div class="cardContainer">
  <mat-card *ngFor="let movie of movies" style="flex: 1" class="cardBox">
    <img src="{{ movie.imagePath }}" alt="{{ movie.title }}" class="cardImg" />
    <mat-card-actions class="cardActions">
      <button mat-button color="primary" (click)="genreDialog(movie)">
        Genre
      </button>
      <button mat-button color="primary" (click)="directorDialog(movie)">
        Director
      </button>
      <button mat-button color="primary" (click)="movieDialog(movie)">
        Movie
      </button>
      <button mat-icon-button color="accent" (click)="toggleFavorite(movie._id)">
        <mat-icon>
          {{ isFavorite(movie._id) ? "favorite" : "favorite_border" }}
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
